@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif !important;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  color: var(--black);
}

:root {
  --black: #000000;
  --gray: #22262d;
  --white: #ffffff;
  --yellow: #ffe033;
}

._bg-yellow {
  background-color: var(--yellow);
}

._bg-black {
  background-color: var(--black);
}

._bg-white {
  background-color: var(--white);
}

._bg-gray {
  background-color: var(--gray);
}

._text-yellow {
  color: var(--yellow);
}

._text-black {
  color: var(--black);
}

._text-white {
  color: var(--white);
}

._text-gray {
  color: var(--gray);
}

._logo {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

._logo:hover {
  transform: rotate(90deg);
  box-shadow: 0px 0px 43px 0px rgba(128, 128, 128, 0.68);
  -webkit-box-shadow: 0px 0px 43px 0px rgba(128, 128, 128, 0.68);
  -moz-box-shadow: 0px 0px 43px 0px rgba(128, 128, 128, 0.68);
}
